@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/* Seletores de elementos */

body {
    background-color: black;
    
    min-height: 100vh;
    
    margin: 0;

    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: white;
}

main {
    width: 90vw;
    min-height: 90vh;
}

h1,
h2 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
}

a.link-cursor::before,
a.link-back::before {
    content: "\00a0 ";
}

a.link-cursor:hover::before,
a.link-back:hover::before {
    content: ">"
}

ul {
    list-style: none;
    padding: 0;
}

/* Seletores de classes */

.animate-in {
    animation: fadeIn .5s ease-in;
}
.animate-out {
    transition: opacity .5s;
    opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color: rgba(0, 45, 135, 1);
    
    border: 7px solid white;
    border-radius: 10px;
    
    padding: 1em;
}

.link-back {
    font-size: 2em;
}

.header {
    justify-content: space-around;
}